@font-face {
	font-family: 'Raleway';
	src: url(fonts/Raleway-VariableFont_wght.ttf);
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	background: url(img/header-bg.png);
	background-position: center center;
	height: 100%;
}

.nav-item {
	margin-left: 30px;
}

.form-inline button {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding: 10px 30px;
}

.form-inline button:hover {
	background-color: #061e37;
}

.text h1 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 3.4375em;
	font-weight: 800;
	color: #fff;
	margin-top: 100px;
}

.text p {
	font-family: 'Raleway', sans-serif;
	font-size: 1.125em;
	font-weight: 400;
	color: #fff;
	line-height: 35px;
}

.buttons a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 700;
	padding: 15px 30px;
	border-radius: 5px;
	background-color: #fff;
	color: #061e37;
}

.buttons a:hover {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	background-color: #061e37;
	color: #fff;
}

.header-video {
	margin-top: 120px;
	padding-bottom: 100px;
}


							/*ACCORDION*/
.accordion {
	padding-top: 100px;
}

.accordion_title h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
	font-weight: 600;
	color: #061e37;
	text-align: center;
}

.accordion_title p {
	font-family: 'Raleway', sans-serif;
	font-size: 0.9375em;
	font-weight: 400;
	color: #b0bec5;
	text-align: center;
	line-height: 25px;
	padding-top: 30px;
	max-width: 560px;
	margin: 0 auto;
}

.block {
	margin: 50px auto 0;
	max-width: 70%;
}

.block__title {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 70%;
	height: 40px;
}

.block__title p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-left: 50px;
	margin-top: 20px;
	text-transform: uppercase;
}

.one_item, .two_item, .three_item, .four_item, .five_item {
	border-radius: 5px;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  	margin: 10px 0;
}

.accordion-content {
	display: flex;
}

.accordion-content img {
	max-width: 100%;
	height: auto;
}

.block__text {
	display: none;
}

.block__item {
	padding: 10px;
}

.block__text p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.25px;
	margin-left: 30px;
}

							/*SLIDER*/

.testimonials {
	background: url(img/slider_bg.png);
	background-position: center center;
	max-height: 100%;
	margin-top: 100px;
}

.testimonials__title {
	max-width: 30%;
	margin-top: 130px;
	margin-left: 50px;
}

.testimonials__title h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 2.8125em;
	font-weight: 600;
	color: #fff;
}

.testimonials__title p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	line-height: 25px;
	margin: 20px 0 80px;
}

.testimonials__title a {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	padding: 20px 30px;
	background-color: #061e37;
	border-radius: 5px;
	text-transform: uppercase;
}

.testimonials__title a:hover {
	text-decoration: none;
	color: #fff;
}

.slider-info {
	display: flex;
}

.slider-item {
	position: relative;
	margin-left: 150px;
	margin-bottom: 70px;
}

.slider:last-child {
	margin-bottom: 0;
}

.slider {
	position: relative;
	max-width: 60%;
	margin-top: 120px;
}

.slider-content {
	max-width: 560px;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
}

.slider-content h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #061e37;
	line-height: 25px;
}

.slider-content p {
	font-family: 'Raleway', sans-serif;
	font-size: 0.9375em;
	font-weight: 400;
	color: #78909c;
}

.slider-item img {
	position: absolute;
	left: -100px;
	top: 50px;
	margin-right: 30px;
}

.slick-prev, 
.slick-next {
    -webkit-transform: translate(-50%, 0) rotate(90deg) !important;
    -ms-transform: translate(-50%, 0) rotate(90deg) !important;
    transform: translate(-50%, 0) rotate(90deg) !important;
    left: 50% !important;
}
    
.slick-prev {
	top: -30px !important;
}

.slick-next {
    top: auto !important;
	bottom: 0 !important;
}

							/* TEAM */


.team-title h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
	font-weight: 600;
	color: #061e37;
	text-align: center;
	padding-top: 100px;
}

.team p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 0.9375em;
	text-align: center;
	color: #bbc7cd;
	line-height: 25px;
}

.team-accordion {
	margin-top: 100px;
	text-align: center;
}

.team-accordion ul li {
	display: inline-block;
	text-decoration: none;
	list-style: none;
}

.team-accordion img {
	width: 100px;
	height: 100px;
}

.team-accordion li:nth-child(2) {
	margin: 0 30px;
}

.faded {
	opacity: 0.2;
}

/* .team-accordion img:last-child {
	opacity: 0.2;
	padding-left: 30px;
} */

.team-text {
	display: none;
}

.team-text h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 1.125em;
	line-height: 25px;
	color: #061e37;
	text-align: center;
	margin-top: 50px;
}

.team-icon {
	text-align: center;
}

.team-icon img {
	padding-left: 20px;
}

.faded.in {
	opacity: 1;
	width: 160px;
	height: 160px;
}


.show {
	display: block;
}

							/* CONTACT US */

.contact {
	margin-top: 100px;
	color: #061e37;
}

.contact-title h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 2.8125em;
	font-weight: 600;
	text-align: center;
	padding-top: 100px;
}

.contact-title p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 0.9375em;
	text-align: center;
	line-height: 25px;
}

.contact-form {
	max-width: 600px;
	margin: 0 auto;
}

.contact-form input:nth-child(1),.contact-form input:nth-child(2),
.contact-form input:nth-child(3),.contact-form input:nth-child(4) {
	width: 280px;
	height: 50px;
	border: 2px solid  #061e37;
	border-radius: 10px;
	margin-top: 30px;
}

.contact-form input:nth-child(1),.contact-form input:nth-child(3) {
	margin-right: 35px;
}

.contact-form input:nth-child(5) {
	width: 600px;
	height: 150px;
	border: 2px solid  #061e37;
	border-radius: 10px;
	margin-top: 30px;
}

.contact-form input::placeholder {
	color: #061e37;
	padding-left: 20px;
	font-weight: 500;
}

.contact-form-checkbox {
	padding-bottom: 50px;
}

.contact-form-checkbox span {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 0.9375em;
	margin-left: 15px;
}

.contact-form-checkbox input {
	margin-left: 255px;
	margin-top: 35px;
	cursor: pointer;
}

.contact-form-checkbox button {
	padding: 15px 35px;
	border-radius: 10px;
	border: 1px solid #1de9b6;
	background-color: #1de9b6;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 1em;
	text-transform: uppercase;
	color: #fff;
	margin-left: 260px;
}

							/*FOOTER*/

footer {
	padding: 100px 0;
	background-color: #061e37;
}

.footer-up {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-up ul li {
	display: inline-block;
	margin-left: 20px;
}

.footer-up ul li:first-child {
	margin-left: 0;
}

.footer-up ul li a {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 0.9375em;
	color: #fff;
}

.footer-down {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.footer-down ul li {
	display: inline-block;
	margin-left: 20px;
}

.footer-down ul li a {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 0.9375em;
	color: #fff;
}

.footer-down ul li:first-child {
	margin-left: 0;
}

.footer-icon img {
	margin-left: 20px;
}						


@media(max-width: 990px) {

				/* HEADER */
	li.nav-item {
		text-align: center;
		border-bottom: 1px solid #000;
	}

	li.nav-item:last-child {
		border-bottom: none;
	}

	header .button {
		margin: 0 auto;
	}

	.header-video {
		margin-top: 40px;
		padding-bottom: 40px;
	}
				/* ACCORDION */
	.accordion-content {
		display: flex;
		flex-direction: column;
	}
}

@media(max-width: 900px) {
	.text h1 {
		margin-top: 50px;
	}
	
	.testimonials .row {
		flex-direction: column;
	}

	.testimonials__title {
		max-width: 100%;
		text-align: center;
		margin-left: 0;
		padding: 0 10px;
		margin-top: 30px;
	}

	.slider {
		max-width: 100%;
		padding: 0 10px;
	}
}

@media(max-width: 770px) {
	.contact-form input {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 100%;
		padding: 0 15px;	
	}

	.contact-form-checkbox button, .contact-form-checkbox input {
		margin: 0;
	}

	.footer-up, .footer-down {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.footer-up ul {
		padding-top: 30px;
	}
}

@media(max-width: 600px) {
	.block {
		max-width: 100%;
	}
}

@media(max-width: 500px) {
	.slick-slide img  {
		display: none !important;
	}

	.slider-item {
		margin-left: 0;
		margin-bottom: 30px;
	}

	.slider-content {
		max-width: 100%;
	}

	.slick-prev:before, .slick-next:before {
		font-size: 40px;
	}

	.text {
		text-align: center;
	}

	.team-accordion img {
		width: 80px;
		height: 80px;
	}

	.faded.in {
		width: 140px;
		height: 140px;
	}

}

@media(max-width: 380px) {
	.header__buttons {
		display: flex;
		flex-direction: column;
	}

	.header__buttons a {
		margin-bottom: 20px;
	}

	.team-accordion li:nth-child(2) {
		margin: 0 10px;
	}

	.team-accordion img {
		width: 60px;
		height: 60px;
	}

	.faded.in {
		width: 120px;
		height: 120px;
	}

	.contact-form-checkbox button, .contact-form-checkbox input {
		margin-top: 20px;
	}
}